<h1 class="mt-4" style="color: teal;">Welcome to Org Panel</h1>
<p class="lead mb-3">Welcome <%= user.name %> <%= user.email %></p>
<a href="/users/logout" class="btn btn-secondary" style="background-color: teal;">Logout</a>
